<h1>Sheets</h1>

<table class="table table-striped">

  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sheets.each do |sheet| %>
      <thead>
        <th scope="col">Filter Nr</th>
        <th scope="col">Name</th>
        <th scope="col">Width</th>
        <th scope="col">Height</th>
        <th scope="col" colspan="3" >Actions</th>
      </thead>
      <tr>
        <td scope="row"><%= sheet.code %></td>
        <td><%= sheet.name %></td>
        <td><%= sheet.width %>m</td>
        <td><%= sheet.height %>m</td>
        <td><%= link_to 'Show', sheet %></td>
        <td><%= link_to 'Edit', edit_sheet_path(sheet) %></td>
        <td><%= link_to 'Destroy', sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sheet', new_sheet_path %>
